* {
    border: none; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sora';
    text-transform: lowercase;
}

:root {
    --green: #BAFC00;
    --white: #fff;
    --off-black: #2B2B2B;
    --black: #000;
}

@font-face {
    font-family: 'Sora';
    src: url('fonts/Sora-Regular.woff2') format('woff2'),
        url('fonts/Sora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sora-Bold';
    src: url('fonts/Sora-Bold.woff2') format('woff2'),
        url('fonts/Sora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sora-Medium';
    src: url('fonts/Sora-Medium.woff2') format('woff2'),
        url('fonts/Sora-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.wrapper {
padding: 5rem 5%;
}



/*Everything on the top*/
.background-img {
    width: 100%;
    position: absolute;
    z-index: -100;
    object-fit: cover;
    height:80vh;
}


.top__container {
    display: flex;
    flex-direction: column;
   width: 100%;
   height: 100%;
   color: var(--green);
}

.logo--decoration{ 
    text-decoration: none;
    color:var(--green);
}
/* header= menu,ll.*/
.header { 
    display: flex; 
    width: 100%;
    align-items:flex-start;
    justify-content: space-between;
    
}

.nav__list-item{
    list-style: none;
    padding-bottom: 1.5rem;
}

.nav__list-item--color {
    color: var(--green);
    text-decoration: none;
}


/*hello my name is...*/
.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60vh;
    justify-content: center;

}

.intro__title {
    color: white;
}


/*projects*/
.project {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.project__list {
    list-style-type: none;
    display: grid;
    grid-template-columns:500px 500px;
    grid-template-rows: auto auto;
    gap: 10%;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-decoration: none;
    
}

.project__list-items :hover {
    color: var(--green);
}
.project__list-items {
    display: grid;
    justify-content: flex-start;
    background-color: var(--off-black);
    padding: 0 2rem;
    height:350px;
    width: 100%;
}


.project__list-text {
    /* padding: 1rem 0 0 1rem; */
    color: var(--white);
    font-size: 60px;
    font-family: 'Sora-Bold';
}
@media screen and (max-width: 1100px) {
    .project__list {
        display: flex;
        flex-direction: column;
        gap: 3rem ; 
    }
}
.project__list-item--link {
    width: 100%;
    height:100%
}

.project__heading {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 20vh;
}

.project__heading-img {
    width: 100%;
    position: absolute;
    z-index: -100;
    object-fit: cover;
    filter: grayscale(0.80);
    height: 40vh;

}
/*footer*/
main {
    min-height: 70vh;
  }

footer {
    background-color: var(--off-black);
    display:flex;
    width: 100%;
    height:200px;
    align-items:flex-start;
    justify-content: space-between;
    padding: 3rem 5%;
}

.footer__list-item {
    color: var(--white);
    list-style: none;
}

.footer__nav-list-item {
    padding-bottom:1rem;
}
.footer__contact {
    display: flex;
    flex-direction: column;
   justify-items: flex-end; 
}

.footer__social{
    display: flex;
    flex-direction: row;
   justify-items: center;
   justify-content: flex-end;
}

.social__img--size {
    height: 50%;
}
.social__list-item {
    color: var(--green);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
.footer__list-item-social {
    display: flex;
    justify-content: flex-end;
    color: var(--white);
    list-style: none;
}

.footer__contact--text { 
    color: var(--white);
    align-self: flex-end;
}

.footer__contact--mail { 
    color: var(--white);
    text-decoration: none;
}

.footer__contact--mail:hover { 
    color: var(--green);
    text-decoration: underline;
}
.footer__hello {
    margin-bottom: 1rem;
    size: 10px;
}