* {
    border: none; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sora';
    text-transform: lowercase;
}

:root {
    --green: #BAFC00;
    --white: #fff;
    --off-black: #2B2B2B;
    --black: #000;
}

@font-face {
    font-family: 'Sora';
    src: url('fonts/Sora-Regular.woff2') format('woff2'),
        url('fonts/Sora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sora-Bold';
    src: url('fonts/Sora-Bold.woff2') format('woff2'),
        url('fonts/Sora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sora-Medium';
    src: url('fonts/Sora-Medium.woff2') format('woff2'),
        url('fonts/Sora-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.wrapper {
padding: 5rem 5%;
}

/*font-sizes*/
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;;
}
/*Everything on the top*/
.background-img {
    width: 100%;
    position: absolute;
    z-index: -100;
    object-fit: cover;
    height:80vh;
}


.top__container {
    display: flex;
    flex-direction: column;
   width: 100%;
   height: 100%;
   color: var(--green);
}

.logo--decoration{ 
    text-decoration: none;
    color:var(--green);
    font-size: 3rem;
    font-family: 'Sora-Bold';
}
/* header= menu,ll.*/
.header { 
    display: flex; 
    width: 100%;
    align-items:flex-start;
    justify-content: space-between;
}

.nav__list-item{
    list-style: none;
    padding-bottom: 1.5rem;
    font-size: 16pt;
    line-height: 2.45;
}

.nav__list-item--color {
    color: var(--white);
    text-decoration: none;
}

/*hello my name is...*/
.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50vh;
    justify-content: center;

}

.intro__title {
    color: white;
    font-size: 3;
    margin-bottom: 0.5rem;
    font-family: 'Sora-Medium';
}
.intro__about {
    font-size: 1.5rem;
}


/*projects HOME*/
.project-home {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin: 2rem 2rem 0;
}


.project-home__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px;
    gap: 5rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    /* text-decoration: none; */
}

.project-home__card {
    background-color: var(--off-black);
    min-height: 300px;
}
.project-home__card-text {
    /* padding: 1rem 0 0 1rem; */
    color: var(--white);
    font-size: 50px;
    font-family: 'Sora-Bold';
    padding-left: 1rem;
}

.project-home__card--link {
   text-decoration: none;
    
}

.project-home__card:hover .project-home__card-text {
    color: var(--green);
}
.project-home__card:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.project-home__card--collider:hover {
    background-image: url("images/collider/colliderthumb.jpg");
    background-size: 800px 600px;
}
.project-home__card--excel:hover {
    background-image: url("images/excel/excelthumb.jpg");
    background-size: 800px 600px;
}
.project-home__card--wallet:hover {
    background-image: url("images/wallet/walletthumb.jpg");
    background-size: 800px 600px;
}
.project-home__card--coolmath:hover {
    background-image: url("images/coolmath/coolmaththumb.jpg");
    background-size: 800px 600px;
}
@media screen and (max-width: 1100px) {
    .project-home__grid {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-row: 1fr 1fr 1fr 1fr; */
    }
}

/* 320px -- projects */
@media screen and (max-width: 320px) {
    .project-home__card {
        width: 300px;
        display: flex;
        justify-content: center;
        padding:0 10px;
    }
    /* .project__list-text {
        align-content: center;
    } */
    
}

/* Projects PAGES */
.project-wrapper{
    max-width: 900px;
    padding-top: 2rem;
    margin: 0 auto;
    line-height: 1.5;
}
.project__heading {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 20vh;
}
.project__title {
    font-size: 32px;
}
.project__about {
    margin: 1rem;
    font-size: 20px;
}

.project__heading-img {
    width: 100%;
    position: absolute;
    z-index: -200;
    object-fit: cover;
    height: 50vh;
    filter: grayscale(10);
    transform: scale (0.7);
    overflow: hidden;
}

@media screen and (max-width: 320px)
{
    .project__heading {
        height: 30vh;
    }
    .project__heading-img {
        height: 60vh;
    }
    
}
/* all images for now*/
.project__img {
    width:100%;
display:block;
margin:auto;
text-align: center;
}

.project__img--custom-1 {
    margin: 2rem 0;
}

.project__img--custom-flex{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.project__img--tall-resize {
max-width: 50%;
margin: 0 auto;
padding: 2rem 0;
}

@media screen and (max-width: 320px) {
    .project-wrapper {
        max-width: 300px;
    }   
}

.project__section{
    align-content: center;
    margin: 3rem 0;
}

.project__list {
    padding-left:3rem;
    line-height: 2;
}
.project__text {
    font-size: 18px;
}
.text--bold {
    font-family: 'Sora-Bold';
    margin-bottom: 1.5rem;
}


/* resume*/
.resume {
    margin-top: 2rem;
}
.resume__name {
    font-size: 28px;
    /* text-align: center; */
}
.resume__paper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
.resume__top {
    text-align: center;
}

mark {
    background-color: var(--green);
    color: var(--black);
}
.resume__contact {
    margin-top: 1rem;
    /* text-align: center; */
}
.resume__contact--mail-black {
    color: var(--black);
    text-decoration: none;
}

.line {
    display: block;
    width:100%;
    margin-top: 1rem;
    border-bottom: 1px solid;
}

.resume__section { 
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    line-height: 1.5;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0; */
}
.resume__content{
    align-content: flex-start;
    justify-content: flex-end;

}
.resume__section-title {
    margin-bottom: 1.5rem;
}
.resume__content--space {
    margin-bottom: 1.5rem;
}

.resume__content-list-item {
    margin-left: 2rem;
}



@media screen and (max-width: 1100px) {
    .resume__section {
        display: flex;
        flex-direction: column;
    }
}
.resume__btn {
    background-color: var(--green);
    border: solid 1px;
    padding: 15px 32px;
    display: block;
    margin: 0 auto;
}
.resume__btn:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: var(--off-black) 1;
}
.resume__btn--deco {
    text-decoration: none;
    color: var(--off-black);
}
.resume__btn--space {
    margin: 2rem 0;
}

/* about page */

.about__img {
    max-width: 400px;
    max-height: 500px;
    margin-right: 2rem;
}
.about__text{
    margin-bottom: 3rem;
    font-size: 14pt;
    line-height: 1.5;
}

.about__wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1000px) {
    .about__wrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__img {
        margin: 0 0 2rem 0;
        object-fit: cover;
        
        
    }
}
/* transition */
.slide-in {
    animation: slidein 2s;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}

/* heading 320px */
@media screen and (max-width: 320px) {
    .about__img {
        background-image: url('images/heading/aboutheading320.png');
    }
}
/*footer*/
main {
    min-height: 70vh;
}

footer {
    background-color: var(--off-black);
    display:flex;
    width: 100%;
    height:200px;
    align-items:flex-start;
    justify-content: space-between;
    padding: 3rem 5%;
}

.footer__list-item {
    color: var(--white);
    list-style: none;
}

.footer__nav-list-item {
    padding-bottom:1rem;
}
.footer__contact {
    display: flex;
    flex-direction: column;
   justify-items: flex-end; 
}

.footer__social{
    display: flex;
    flex-direction: row;
   justify-items: center;
   justify-content: flex-end;
}

.social__img--size {
    height: 70%;
}
.social__list-item {
    color: var(--green);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
.footer__list-item-social {
    display: flex;
    justify-content: flex-end;
    color: var(--white);
    list-style: none;
}

.footer__contact--text { 
    color: var(--white);
    align-self: flex-end;
}

.footer__contact--mail { 
    color: var(--white);
    text-decoration: none;
}

.footer__contact--mail:hover { 
    color: var(--green);
    text-decoration: underline;
}
.footer__hello {
    margin-bottom: 1rem;
    size: 10px;
}